parameters:
    paths:
        - src
        - tests
    level: 7
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: true
    inferPrivatePropertyTypeFromConstructor: true
