<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" backupGlobals="true" backupStaticProperties="true" failOnRisky="true" failOnWarning="true" beStrictAboutTestsThatDoNotTestAnything="true" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerErrors="true" cacheResultFile=".phpunit.cache/code-coverage">
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true" />
            <html outputDirectory="coverage/html"/>
            <cobertura outputFile="coverage/cobertura.xml" />
            <clover outputFile="coverage/coverage.xml" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="coverage/junit.xml" />
    </logging>
    <php>
        <!-- <ini name="memory_limit" value="-1" />
        <env name="APP_ENV" value="test"/> -->
    </php>
</phpunit>
